*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar {
    position: fixed; 
    top: 0;        
    left: 0;        
    width: 100%;   
    background-color: #1fcab3; 
    color:rgb(150, 19, 202);  
    padding: 15px;  
    z-index: 1000;  
}
h1{
    font-size: 22px;
    background-color: rgb(255, 241, 47);
}
.navbar a {
    color:rgb(255, 0, 170);   
    text-decoration: none; 
    margin: 0 15px; 
    position: relative;
    left: 100px; 
}

.navbar a:hover {
    text-decoration: underline; 
    background-color: rgb(255, 0, 0);
}

.content {
    padding-top: 70px; 
    font-size: 23px;
}